h1 {
    position: relative;
    padding-left: 8px;
  }
  
  h1::before {
    content: "";
    width: 30px;
    height: 3px;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: -10px;
    bottom: 18px;
    transform: rotate(90deg);
  }