#main .table-menu {
    position: sticky;
    top: 0; 
    height: 100vh; 
    overflow-y: auto; 
    background-color: #f8f9fa;
    border-right: 1px solid #ccc; 
    padding: 15px; 

}
#main a{
    text-decoration: none;
    color: black;
}
#main ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
#main li {
    padding: 5px;   
    color: black;
    cursor: pointer;
    border: 1px solid white;
  }
  #main li:hover {
    
  }
  #main .submenu {
    display: none;
    padding-left: 20px;
  }
  #main .submenu li {
    
  }
  #main .submenu li:hover {
   
  }
  #footer a{
    text-decoration: none;
    color: white;
}
#footer .page {
    background-image: url(../IMG/bg-footer.png);
    background-size: cover;
}
  