
body {
    background-image: url(../IMG/bgLogin.png);     
}
.card {
    background-color: white;
    max-width: 450px;
    width: 100%;
}
.blur-background {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.account-info{
    text-decoration: none;
    border-bottom: 2px solid #F4F5F6;
    display: inline-block;
    padding-bottom: 1rem;
    width: 100%;
}
.create-account-btn {
    font-size: 1.5rem;
}
/*  */
.fade-out {
    animation: fadeOut 0.5s forwards, slideUp 0.5s forwards;
}

.fade-in {
    animation: fadeIn 1s forwards, slideDown 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}